
.CourseList {
  margin-top: 40px;
  border: 1px solid rgb(170, 170, 170);
  border-collapse: collapse;
  width: 95%;
}

.CourseList th {
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  text-align: left;
  font-size: 18px;
}

.CourseList th[colspan="2"] {
  text-align: center;
}

.CourseList td {
  text-align: left;
}

